
  * {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }

  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, a, button, textarea, select {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .row:before, .row:after, .clearfix:before, .clearfix:after {
    display: table;
    content: " ";
  }

  .row:after, .clearfix:after {
    clear: both;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .relative {
    position: relative !important;
  }

  .mb4 {
    margin-bottom: 4px !important;
  }

  .p24 {
    padding: 24px !important;
  }

  .p8 {
    padding: 8px !important;
  }

  .pl15 {
    padding-left: 15px !important;
  }

  .mb15 {
    margin-bottom: 15px !important;
  }

  .mb8 {
    margin-bottom: 8px !important;
  }

  .fw7 {
    font-weight: 700;
  }

  .f14, .f14p {
    font-size: 14px;
    line-height: 22px;
  }

  .sbcw {
    background-color: #FFFFFF;
  }

  .sbc5 {
    background-color: #EFEFEF;
  }

  .wfull {
    width: 100% !important;
  }

  .block {
    display: block !important;
  }

  .flexFull {
    flex: 1;
  }

  .hide {
    display: none !important;
  }

  .radius4, .input-with-icon-box input {
    border-radius: 4px;
  }

  .input-with-icon-box, .select-con {
    height: 48px;
    position: relative;
  }

  .l15 {
    left: 15px;
  }

  .absolute {
    position: absolute !important;
  }

  .t0 {
    top: 0;
  }

  .l0 {
    left: 0;
  }

  .r0 {
    right: 0;
  }

  .absolute-center-v {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
  }

  .icon-24 {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    position: relative;
  }

  .icon-24 svg, .icon-18 svg {
    width: 100%;
    height: 100%;
  }

  img, svg {
    max-width: 100%;
  }

  .input-with-icon-box input, .input-with-icon-box .input {
    padding-left: 48px !important;
  }

  .input-with-icon-box input, .input-with-icon-box .input, .textarea, .select, .input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #3e3e3e;
    box-shadow: none;
    width: 100%;
    height: 48px;
    opacity: 1;
    background-color: transparent;
    border: solid 1px #d4d4d4;
    font-size: 14px;
    line-height: 16px;
    padding: 15px;
    position: relative;
    z-index: 2;
  }

  .radius4, .input-with-icon-box input, .input-with-icon-box .input, .textarea, .select, .input, .checkbox-common + label::before, .radio-common-round + label::before, .pills-container-inline .pills {
    border-radius: 4px;
  }

  .inputGrey {
    color: #b2b2b2 !important;
  }

  .bNone {
    border: 0 !important;
  }

  .cursorP {
    cursor: pointer;
  }

  .pr24 {
    padding-right: 24px !important;
  }

  .pl48 {
    padding-left: 48px !important;
  }

  .text-left {
    text-align: left;
  }

  .pr8 {
    padding-right: 8px !important;
  }

  .pl8 {
    padding-left: 8px !important;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-6 {
    width: 50%;
  }

  .ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .btn-filled-pri, .btn-filled-pri-large, .btn-filled-pri-small {
    background-color: #FE5246;
    border: 1px solid #FE5246;
    color: #FFFFFF !important;
  }

  .btn-filled-pri, .btn-filled-pri-large, .btn-filled-pri-small, .btn-pri, .btn-pri-large, .btn-pri-small, .btn-sec-load-filled, .btn-sec-load {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-filled-pri-large, .btn-pri-large {
    font-size: 16px;
    line-height: 24px;
    padding: 11px 32px;
  }

  .sbcw, .prev::before, .next::before, .prev::after, .next::after, .wave, .wave-dark, .cross-visible-box .input.form-date-check, .week-box-width:before, .loading-dots span, .tooltipBox, .pills-container-inline .pills.white, .special-deals-container {
    background-color: #FFFFFF;
  }

  .black-common-layer, .box-with-layer::after, .wave, .wave-dark, .double-bounce1-yellow, .double-bounce2-yellow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wave, .wave-dark {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }

  .ripple:hover > .wave {
    animation: ripple-in2 2s;
  }

  .ripple {
    position: relative;
  }

  .btn-filled-pri:hover, .btn-filled-pri:active, .btn-filled-pri:focus, .btn-filled-pri-large:hover, .btn-filled-pri-large:active, .btn-filled-pri-large:focus, .btn-filled-pri-small:hover, .btn-filled-pri-small:active, .btn-filled-pri-small:focus {
    background: #E4493E;
    border-color: #E4493E;
    text-decoration: none;
  }

  .flex {
    display: flex !important;
  }

  .overflowh {
    overflow: hidden;
  }

  .mr15 {
    margin-right: 15px !important;
  }

  .p4 {
    padding: 4px !important;
  }

  .icon-18 {
    min-width: 18px;
    max-width: 18px;
    height: 18px;
    position: relative;
  }

  .f16 {
    font-size: 16px;
    line-height: 24px;
  }

  .fw9 {
    font-weight: 900;
  }

  .t4 {
    top: 4px;
  }

  .pl64 {
    padding-left: 64px !important;
  }

  .pt8 {
    padding-top: 8px !important;
  }

  .pt15 {
    padding-top: 15px !important;
  }

